<%- include ("./partials/_header") %>
  <%- include ("./partials/_navbar") %>

    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5">

              <p class="h1 mb-5">Editar ticket</p>
              <form action="/editTicket?id=<%= ticket.id %>" method="POST">
                <div class="form-group">
                  <label for="subject">Asunto</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Ejemplo: Mouse roto" value="<%= ticket.subject %>" required>
                </div>
                <div class="form-group">
                  <label for="department">Departamento correspondiente</label>
                  <select id="department" class="form-control" name="department">
                    <% depts.forEach( dept => { %>
                      <% if (dept.id == ticket.departmentId) { %>
                        <option selected="selected" value="<%= dept.id %>"><%= dept.name %></option>
                      <% } else { %>
                        <option value="<%= dept.id %>"><%= dept.name %></option>
                      <% } %>
                    <% }); %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="description">Descripción</label>
                  <textarea class="form-control" name="description" id="description" rows="3" placeholder="Describre el problema claramente aquí" required><%= ticket.description %></textarea>
                </div>
                <div class="form-group">
                  <label for="evidence">Adjunta evidencia</label>
                  <input type="file" class="form-control-file" name="evidence" id="evidence">
                </div>
                <hr class="my-4">
                <div class="form-group">
                  <label for="priority">Prioridad (0 más baja y 4 la más alta)</label>
                  <select id="priority" class="form-control" name="priority">
                    <% for (let i = 1; i <= 4; i++) { %>
                      <% if (ticket.priority == i) { %>
                        <option selected="selected" value="<%= i %>"><%= i %></option>
                      <% } else { %>
                        <option value="<%= i %>"><%= i %></option>
                      <% } %>
                    <% } %>
                  </select>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar Cambios</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ("./partials/_footer") %>