<%- include ("./partials/_header") %>
<%- include ("./partials/_navbar") %>

<div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <p class="h1 mb-5">Editar Usuario</p>
            <form action="/editUser/<%= uid %>" method="POST">
                <div class="form-outline form-white mb-4">
                    <input type="text" id="name" name="name" class="form-control form-control-lg" value="<%= user.name %>" placeholder="Juan Perez"/>
                    <label class="form-label" for="name">Nombre</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="email" id="email" name="email" class="form-control form-control-lg" value="<%= user.email %>" placeholder="correo@gmail.com"/>
                    <label class="form-label" for="email">Email</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="••••••••"/>
                    <label class="form-label" for="password">Password</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <select id="department" name="departmentId" class="form-control">
                      <% for (var i = 0; i < departmentList.length; i++) { %>
                        <% if (departmentList[i].id == user.departmentId) { %>
                          <option selected value=<%= departmentList[i].id %>><%= departmentList[i].name %></option>
                        <% } else { %> 
                          <option value=<%= departmentList[i].id %>><%= departmentList[i].name %></option>
                        <% } %> 
                      <%  }   %> 
                    </select>
                    <label class="form-label" for="department">Seleccione el departamento</label>
                  </div>

                  <div class="form-outline form-white mb-4">
                    <select id="typeUser" name="typeUser" class="form-control">
                        <% if (user.typeUser == "user") { %>
                          <option selected value="user">Usuario</option>
                          <option value="admin">Administrador</option>
                        <% } else { %> 
                          <option value="user">Usuario</option>
                          <option selected value="admin">Administrador</option>
                        <% } %> 
                    </select>
                    <label class="form-label" for="typeUser">Seleccione el rol</label>
                  </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar cambios</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include ("./partials/_footer") %>