<%- include ("./partials/_header") %>
    <%- include ("./partials/_navbar") %>

        <div class="container mt-5">
            <p class="h1 mb-5">Mis Tickets</p>
            <!-- TODO: GET DEPARTMENTS-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Asunto</th>
                        <th scope="col" class="text-center">Estado</th>
                        <th scope="col" class="text-center">Ver</th>
                        <th scope="col" class="text-center">Editar</th>
                        <th scope="col" class="text-center">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <% tickets.forEach( ticket => { %>
                        <tr>
                            <th scope="row"><%= ticket.id %></th>
                            <td><%= ticket.date.toLocaleDateString('es-MX') %></td>
                            <td><%= ticket.subject %></td>
                            <td class="text-center">
                                <% if (ticket.status == 0) { %>
                                    <span class="badge badge-danger">Cancelado</span>
                                <% } else if (ticket.status == 1) { %>
                                    <span class="badge badge-warning">Pendiente</span>
                                <% } else if (ticket.status == 2) { %>
                                    <span class="badge badge-primary">En progreso</span>
                                <% } else { %>
                                    <span class="badge badge-success">Completado</span>
                                <% } %>
                            </td>
                            <td class="text-center"><a href="/viewTicket?id=<%= ticket.id %>"><i class="far fa-eye"></i></a></td>
                            <td class="text-center"><a href="/editTicket?id=<%= ticket.id %>"><i class="far fa-edit"></i></a></td>
                            <td class="text-center"><a href="/deleteTicket?id=<%= ticket.id %>"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <%- include ("./partials/_footer") %>