<%- include ("./partials/_header") %>
    <%- include ("./partials/_navbar") %>

        <div class="container mt-5 mb-5 py-5">
            <p class="h1 mb-5">Lista de usuarios</p>
            <!-- TODO: GET DEPARTMENTS-->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Email</th>
                        <th scope="col" class="text-center">Editar</th>
                        <th scope="col" class="text-center">Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < userList.length; i++) { %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= userList[i].name %></td>
                          <td><%= userList[i].email %></td>
                          <td class="text-center"><a href="/editUser/<%= userList[i].id %>"><i class="far fa-edit"></i></a></td>
                        <td class="text-center"><a href="/deleteUser/<%= userList[i].id %>"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    <%  }   %>
                </tbody>
            </table>
        </div>

        <%- include ("./partials/_footer") %>