<%- include ("./partials/_header") %>
<%- include ("./partials/_navbar", { isAdmin: isAdmin }) %>

<div class="container py-5 mb-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5">

            <p class="h1 mb-5">Ticket #<%= ticket.id %></p>
            <p class="h2 mb-3"><%= ticket.subject %></p>
            <p class="h4 mb-3"><b>Fecha: </b><%= ticket.date.toLocaleDateString('es-MX') %></p>
            <p class="h4 mb-3"><b>Prioridad: </b><%= ticket.priority %></p>
            <p class="h4 mb-3"><b>Estado: </b>
              <% if (ticket.status == 0) { %>
                <span class="badge badge-danger">Cancelado</span>
              <% } else if (ticket.status == 1) { %>
                <span class="badge badge-warning">Pendiente</span>
              <% } else if (ticket.status == 2) { %>
                <span class="badge badge-primary">En progreso</span>
              <% } else { %>
                <span class="badge badge-success">Completado</span>
              <% } %>
            </p>
            <p class="h4 mb-3"><b>Departamento asignado: </b><%= ticket['department.name'] %></p>
            <p class="h4 mb-5"><b>Nombre empleado: </b><%= ticket['user.name'] %></p>
            <p><b>Descripción:</b></p>
            <p><%= ticket.description %></p>
            <p><b>Evidencia:</b></p>
            <p>
              <% if (ticket.evidence) { %>
                <%= ticket.evidence %>
              <% } else { %>
                No hay evidencia
              <% } %>
            </p>
            <% if (isAdmin) { %>
              <hr class="my-5">
              <p class="h4 mb-4">Cambiar estado</p>
              <form action="/updateStatus?id=<%= ticket.id %>" method="POST">
                  <div class="form-outline form-white mb-4">
                      <label class="form-label" for="status">Seleccione el estado</label>
                      <select id="status" class="form-control" name="status">
                        <% if (ticket.status == 0) { %>
                          <option selected="selected" value="0">Cancelado</option>
                          <option value="1">Pendiente</option>
                          <option value="2">En progreso</option>
                          <option value="3">Completado</option>
                        <% } else if (ticket.status == 1) { %>
                          <option value="0">Cancelado</option>
                          <option selected="selected" value="1">Pendiente</option>
                          <option value="2">En progreso</option>
                          <option value="3">Completado</option>
                        <% } else if (ticket.status == 2) { %>
                          <option value="0">Cancelado</option>
                          <option value="1">Pendiente</option>
                          <option selected="selected" value="2">En progreso</option>
                          <option value="3">Completado</option>
                        <% } else { %>
                          <option value="0">Cancelado</option>
                          <option value="1">Pendiente</option>
                          <option value="2">En progreso</option>
                          <option selected="selected" value="3">Completado</option>
                        <% } %>
                        
                      </select>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar Cambios</button>
              </form>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include ("./partials/_footer") %>